html {
  text-size-adjust: 100%;
}

body {

  background-color: black;
  color: white;
  width:50%;
  margin:0;
  font: 18px / 1 sans-serif;
}
p {
  color: blue;
}
.special {
  color: #1a4f70;
  text-align: left;
  width: 80%;
}

.hello {
  color: blue;
}
